<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheets">
  <script defer src="/javascripts/script.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bgsticky-top" style="background-color: black">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index">
        gUber Docs
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Arena</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Game</a>
          </li>
      </div>
    </div>
  </nav>
  <!--- Introduction Section -->
  <div class="intro container-fluid padding p-3">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-5">Goalie App API Docs</h1>
        <hr>
        <div class="col-12">
          <p class="lead">Welcome to the Docs</p>
        </div>
      </div>
    </div>
  </div>
  <!--- Explanation of docs -->
  <div class="container-fluid padding col-12">
    <div class="row padding px-4">
      <p>This is the backend API documentation for gUber goalie rental app. The documentation has four sections available that explain the CRUD functionalities for the API.</p>
      <div class="col-12">
        <ul>
          <li><a href="#">Arena</a></li>
          <li><a href="#">User</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Game</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Section for Arena -->
  <div class="container-fluid padding p-3">
    <div class="col-12">
      <h2 class="display-5">Arena</h2>
      <div class="container-fluid padding p-3 col-12">
        <p><b>Get</b> - How To Make an API Request to Get A List of All Arenas</p>
        <p><b>Create</b> - How To Make an API Request to Add an Arena</p>
        <p><b>Show</b> - How To Make an API Request to Show a Single Arena</p>
        <p><b>Put</b> - How To Make an API Request to Edit an Arena</p>
        <p><b>Delete</b> - How to Make an API Request to Delete an Arena</p>
      </div>
      <div class="container-fluid col-12">
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-arena-index'>GET</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-arena-post'>CREATE</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-arena-show'>SHOW</button>
        <button type="button" class="btn btn-outline-secondary d-inline-block" id='btn-arena-edit'>PUT</button>
        <button type="button" class="btn btn-outline-danger d-inline-block" id='btn-arena-delete'>DELETE</button>
        <button type="button" class="btn btn-outline-dark d-inline-block" id='btn-arena-hide'>HIDE</button>
      </div>
      <div class="container-fluid padding p-3" id='arena-display'>
        <div id='arena-show'>
          <h3 class="display-5">Arena List</h3>
          <p class="lead">In order to get a complete list of arenas supported by this API, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas</i></p>
          <p class="lead">You will get the following JSON response:</p>
          <section></section>
        </div>
        <div id='arena-create'>
          <h3 class="display-5">Add an Arena</h3>
          <p class="lead">To create or add an arena to the API, a <b>POST</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas</i></p>
          <p class="lead">Use the form below to make a POST request for a new arena, the fields: Name, City, and Address will make up the POST req.body.</p>
          <p class="lead">After submitting the form below, you will get the following JSON response below.</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default" placeholder="Toronto or Mississauga">City</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"  placeholder="Enter one of the Following Cities: Toronto, Mississauga, Brampton">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="button" class="btn btn-success"id="btn-add-arena">Add Arena</button>
          </section>
          <section class="p-3" id='sec-arena-create'></section>
        </div>
        <div id='arena-show-single'>
          <h3 class="display-5">Show a Single Arena</h3>
          <p class="lead">In order to get JSON data for a single arena, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas/{arenaId}</i>, where the {arenaId} is replaced with the arena._id of the arena you wish to get data on.</p>
          <p class="lead">You can input an arena._id in the below example to see the JSON response:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-success"id="btn-get-arena">Show Arena</button>  
          <section class="p-3" id="sec-arena-show"></section>
        </div>
        <div id='arena-edit'>
          <h3 class="display-5">Edit an Arena</h3>
          <p class="lead">In order to edit an arena, a <b>PUT</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas/{arenaId}</i>, where the {arenaId} is replaced with the arena._id of the arena you wish to edit.</p>
          <p class="lead">You can input an arena._id in the below URI as an example and edit the arena data:</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">City</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="button" class="btn btn-success"id="btn-edit-arena">Edit Arena</button>
            <section class="p-3" id="sec-arena-edit"></section> 
          </section>
        </div>
        <div id='arena-delete'>
          <h3 class="display-5">Delete an Arena</h3>
          <p class="lead">In order to delete an arena from your API, a <b>DELETE</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas/{arenaId}</i>, where the {arenaId} is replaced with the arena._id of the arena you wish to delete.</p>
          <p class="lead">You can input an arena._id in the below example to see the JSON response, which will be the JSON body of the deleted arena:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-danger"id="btn-delete-one-arena">Delete Arena</button>  
          <section class="p-3" id="sec-arena-delete"></section>
        </div>
      </div>
    </div>
  </div>
  <!-- Section for Users -->
  <div class="container-fluid padding p-3">
    <div class="col-12">
      <h2 class="display-5">Users</h2>
      <div class="container-fluid padding p-3 col-12">
        <p><b>Get</b> - How To Make an API Request to Get A List of All Users</p>
        <p><b>Create</b> - How To Make an API Request to Add a User</p>
        <p><b>Show</b> - How To Make an API Request to Show a Single User</p>
        <p><b>Put</b> - How To Make an API Request to Edit a User</p>
        <p><b>Delete</b> - How to Make an API Request to Delete a User</p>
      </div>
      <div class="container-fluid col-12">
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-user-index'>GET</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-user-post'>CREATE</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-user-show'>SHOW</button>
        <button type="button" class="btn btn-outline-secondary d-inline-block" id='btn-user-edit'>PUT</button>
        <button type="button" class="btn btn-outline-danger d-inline-block" id='btn-user-delete'>DELETE</button>
        <button type="button" class="btn btn-outline-dark d-inline-block" id='btn-user-hide'>HIDE</button>
      </div>
      <div class="container-fluid padding p-3" id='arena-display'>
        <div id='user-show'>
          <h3 class="display-5">Users List</h3>
          <p class="lead">In order to get a complete list of users supported by this API, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users</i></p>
          <p class="lead">You will get the following JSON response:</p>
          <section></section>
        </div>
        <div id='user-create'>
          <h3 class="display-5">Add a User</h3>
          <p class="lead">To create or add a user to the API, a <b>POST</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users</i></p>
          <p class="lead">Use the form below to make a POST request for a new user, the fields in the below form will make up the req.body.</p>
          <p class="lead">After submitting the form below, you will get the following JSON response below.</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Does the User Want to Sign Up as a Goalie?</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Yes or No">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Which Sport(s) Does the Goalie Play?</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify which sports the goalie plays: Hockey, Lacrosse, and/or Soccer">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">What is the Goalie's Skill Level?</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify the skill level of the goalie: A, B, C, D, or Beginner">
            </div>
            <button type="button" class="btn btn-success"id="btn-add-user">Add User</button>
          </section>
          <section class="p-3" id='sec-user-create'></section>
        </div>
        <div id='user-show-single'>
          <h3 class="display-5">Show a Single User</h3>
          <p class="lead">In order to get JSON data for a single user, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{userId}</i>, where the {userId} is replaced with the user._id of the user you wish to get data on.</p>
          <p class="lead">You can input an user._id in the below example to see the JSON response:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/users/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-success"id="btn-get-user">Show User</button>  
          <section class="p-3" id="sec-user-show"></section>
        </div>
        <div id='user-edit'>
          <h3 class="display-5">Edit a User</h3>
          <p class="lead">In order to edit a users data, a <b>PUT</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{usersId}</i>, where the {userId} is replaced with the user._id of the user you wish to edit.</p>
          <p class="lead">You can input a user._id in the below URI as an example and edit the user data:</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <section>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Does the User Want to Sign Up as a Goalie?</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Yes or No">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Which Sport(s) Does the Goalie Play?</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify which sports the goalie plays: Hockey, Lacrosse, and/or Soccer">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">What is the Goalie's Skill Level?</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify the skill level of the goalie: A, B, C, D, or Beginner">
              </div>
            <button type="button" class="btn btn-success"id="btn-edit-user">Edit User</button>
          </section>
          <section class="p-3" id="sec-user-edit"></section> 
        </div>
        <div id='user-delete'>
          <h3 class="display-5">Delete a User</h3>
          <p class="lead">In order to delete a user from your API, a <b>DELETE</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{userId}</i>, where the {userId} is replaced with the user._id of the user you wish to delete.</p>
          <p class="lead">You can input a user._id in the below example to see the JSON response, which will be the JSON body of the deleted user:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/users/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-danger"id="btn-delete-one-user">Delete User</button>  
          <section class="p-3" id="sec-user-delete"></section>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
