<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gÜber Docs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheets">
  <script defer src="/javascripts/script.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bgsticky-top" style="background-color: black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        gÜber Docs
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#arena">Arena</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#users">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#game">Game</a>
          </li>
      </div>
    </div>
  </nav>
  <!--- Introduction Section -->
  <div class="intro container-fluid padding p-3">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-5"><b>gÜber</b> - The Goalie Rental Service</h1>
        <hr>
        <div class="col-12">
          <p class="lead">Welcome to the Docs</p>
        </div>
      </div>
    </div>
  </div>
  <!--- Explanation of docs -->
  <div class="container-fluid padding col-12">
    <div class="row padding px-4">
      <p>This is the backend API documentation for gÜber goalie rental app. The documentation has four sections available that explain the CRUD functionalities for the API.</p>
      <div class="col-12">
        <ul>
          <li><a href="#arena">Arena</a></li>
          <li><a href="#users">User</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#game">Game</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Section for Arena -->
  <div class="container-fluid padding p-3">
    <div class="col-12">
      <a id="arena"></a>
      <h2 class="display-5">Arena</h2>
      <div class="container-fluid padding p-3 col-12">
        <p><b>Get</b> - How To Make an API Request to Get A List of All Arenas</p>
        <p><b>Create</b> - How To Make an API Request to Add an Arena</p>
        <p><b>Show</b> - How To Make an API Request to Show a Single Arena</p>
        <p><b>Put</b> - How To Make an API Request to Edit an Arena</p>
        <p><b>Delete</b> - How to Make an API Request to Delete an Arena</p>
      </div>
      <div class="container-fluid col-12">
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-arena-index'>GET</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-arena-post'>CREATE</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-arena-show'>SHOW</button>
        <button type="button" class="btn btn-outline-secondary d-inline-block" id='btn-arena-edit'>PUT</button>
        <button type="button" class="btn btn-outline-danger d-inline-block" id='btn-arena-delete'>DELETE</button>
        <button type="button" class="btn btn-outline-dark d-inline-block" id='btn-arena-hide'>HIDE</button>
      </div>
      <div class="container-fluid padding p-3" id='arena-display'>
        <div id='arena-show'>
          <h3 class="display-5">Arena List</h3>
          <p class="lead">In order to get a complete list of arenas supported by this API, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas</i></p>
          <p class="lead">You will get the following JSON response:</p>
          <pre></pre>
        </div>
        <div id='arena-create'>
          <h3 class="display-5">Add an Arena</h3>
          <p class="lead">To create or add an arena to the API, a <b>POST</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas</i></p>
          <p class="lead">Use the form below to make a POST request for a new arena, the fields: Name, City, and Address will make up the POST req.body.</p>
          <p class="lead">After submitting the form below, you will get the following JSON response below.</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default" placeholder="Toronto or Mississauga">City</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"  placeholder="Enter one of the Following Cities: Toronto, Mississauga, Brampton">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="button" class="btn btn-success"id="btn-add-arena">Add Arena</button>
          </section>
          <pre class="p-3" id='sec-arena-create'></pre>
        </div>
        <div id='arena-show-single'>
          <h3 class="display-5">Show a Single Arena</h3>
          <p class="lead">In order to get JSON data for a single arena, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas/{arenaId}</i>, where the {arenaId} is replaced with the arena._id of the arena you wish to get data on.</p>
          <p class="lead">You can input an arena._id in the below example to see the JSON response:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-success"id="btn-get-arena">Show Arena</button>  
          <pre class="p-3" id="sec-arena-show"></pre>
        </div>
        <div id='arena-edit'>
          <h3 class="display-5">Edit an Arena</h3>
          <p class="lead">In order to edit an arena, a <b>PUT</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas/{arenaId}</i>, where the {arenaId} is replaced with the arena._id of the arena you wish to edit.</p>
          <p class="lead">You can input an arena._id in the below URI as an example and edit the arena data:</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">City</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="button" class="btn btn-success"id="btn-edit-arena">Edit Arena</button>
            <pre class="p-3" id="sec-arena-edit"></pre> 
          </section>
        </div>
        <div id='arena-delete'>
          <h3 class="display-5">Delete an Arena</h3>
          <p class="lead">In order to delete an arena from your API, a <b>DELETE</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/arenas/{arenaId}</i>, where the {arenaId} is replaced with the arena._id of the arena you wish to delete.</p>
          <p class="lead">You can input an arena._id in the below example to see the JSON response, which will be the JSON body of the deleted arena:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-danger"id="btn-delete-one-arena">Delete Arena</button>  
          <pre class="p-3" id="sec-arena-delete"></pre>
        </div>
      </div>
    </div>
  </div>
  <!-- Section for Users -->
  <div class="container-fluid padding p-3">
    <div class="col-12">
      <a id="users"></a>
      <h2 class="display-5">Users</h2>
      <div class="container-fluid padding p-3 col-12">
        <p><b>Get</b> - How To Make an API Request to Get A List of All Users</p>
        <p><b>Create</b> - How To Make an API Request to Add a User</p>
        <p><b>Show</b> - How To Make an API Request to Show a Single User</p>
        <p><b>Put</b> - How To Make an API Request to Edit a User</p>
        <p><b>Delete</b> - How to Make an API Request to Delete a User</p>
      </div>
      <div class="container-fluid col-12">
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-user-index'>GET</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-user-post'>CREATE</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-user-show'>SHOW</button>
        <button type="button" class="btn btn-outline-secondary d-inline-block" id='btn-user-edit'>PUT</button>
        <button type="button" class="btn btn-outline-danger d-inline-block" id='btn-user-delete'>DELETE</button>
        <button type="button" class="btn btn-outline-dark d-inline-block" id='btn-user-hide'>HIDE</button>
      </div>
      <div class="container-fluid padding p-3" id='arena-display'>
        <div id='user-show'>
          <h3 class="display-5">Users List</h3>
          <p class="lead">In order to get a complete list of users supported by this API, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users</i></p>
          <p class="lead">You will get the following JSON response:</p>
          <pre></pre>
        </div>
        <div id='user-create'>
          <h3 class="display-5">Add a User</h3>
          <p class="lead">To create or add a user to the API, a <b>POST</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users</i></p>
          <p class="lead">Use the form below to make a POST request for a new user, the fields in the below form will make up the req.body.</p>
          <p class="lead">After submitting the form below, you will get the following JSON response below.</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Does the User Want to Sign Up as a Goalie?</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Yes or No">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Which Sport(s) Does the Goalie Play?</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify which sports the goalie plays: Hockey, Lacrosse, and/or Soccer">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">What is the Goalie's Skill Level?</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify the skill level of the goalie: A, B, C, D, or Beginner">
            </div>
            <button type="button" class="btn btn-success"id="btn-add-user">Add User</button>
          </section>
          <pre class="p-3" id='sec-user-create'></pre>
        </div>
        <div id='user-show-single'>
          <h3 class="display-5">Show a Single User</h3>
          <p class="lead">In order to get JSON data for a single user, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{userId}</i>, where the {userId} is replaced with the user._id of the user you wish to get data on.</p>
          <p class="lead">You can input an user._id in the below example to see the JSON response:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/users/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-success"id="btn-get-user">Show User</button>  
          <pre class="p-3" id="sec-user-show"></pre>
        </div>
        <div id='user-edit'>
          <h3 class="display-5">Edit a User</h3>
          <p class="lead">In order to edit a users data, a <b>PUT</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{usersId}?currentUserId={userId}</i>, where the {userId} is replaced with the user._id of the user you wish to edit.</p>
          <p class="lead">You can input a user._id in the below URI as an example and edit the user data:</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/arenas/</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <section>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Does the User Want to Sign Up as a Goalie?</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Yes or No">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Which Sport(s) Does the Goalie Play?</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify which sports the goalie plays: Hockey, Lacrosse, and/or Soccer">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">What is the Goalie's Skill Level?</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter one or all to identify the skill level of the goalie: A, B, C, D, or Beginner">
              </div>
            <button type="button" class="btn btn-success"id="btn-edit-user">Edit User</button>
          </section>
          <pre class="p-3" id="sec-user-edit"></pre> 
        </div>
        <div id='user-delete'>
          <h3 class="display-5">Delete a User</h3>
          <p class="lead">In order to delete a user from your API, a <b>DELETE</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{userId}?currentUserId={userId}</i>, where the {userId} is replaced with the user._id of the user you wish to delete.</p>
          <p class="lead">You can input a user._id in the below example to see the JSON response, which will be the JSON body of the deleted user:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/users/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-danger"id="btn-delete-one-user">Delete User</button>  
          <pre class="p-3" id="sec-user-delete"></pre>
        </div>
      </div>
    </div>
  </div>
  <!-- Section for Reviews -->
  <div class="container-fluid padding p-3">
    <div class="col-12">
      <a id="reviews"></a>
      <h2 class="display-5">Reviews</h2>
      <div class="container-fluid padding p-3 col-12">
        <p><b>Create</b> - How To Make an API Request to Add a Review for a User</p>
        <p><b>Show</b> - How To Make an API Request to Show All Reviews for a User</p>
        <p><b>Delete</b> - How to Make an API Request to Delete a Review</p>
      </div>
      <div class="container-fluid col-12">
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-review-post'>CREATE</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-review-show'>SHOW</button>
        <button type="button" class="btn btn-outline-danger d-inline-block" id='btn-review-delete'>DELETE</button>
        <button type="button" class="btn btn-outline-dark d-inline-block" id='btn-review-hide'>HIDE</button>
      </div>
      <div class="container-fluid padding p-3" id='arena-display'>
        <div id='review-create'>
          <h3 class="display-5">Add a Review for a User</h3>
          <p class="lead">To create or add a review for a particular user, a <b>POST</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{userId}/reviews?currentUserId={userId_reviewer},</i>where the userId is the user._id of the user being reviewed
          and {userId_reivewer} is the user._id of the reviewer.</p>
          <p class="lead">Use the form below to make a POST request for a user review, you will need a user._id of a user to review and the user._id of the user who is creating the review.</p>
          <p class="lead">The fields in the form below will make up the req.body of the POST request.</p>
          <p class="lead">After submitting the form below, you will get the following JSON response below.</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">ID of User Creating the Review</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="user._id of reviewer">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">ID of User Being Reviewed</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"  placeholder="user._id of user being reviewed">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Review</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Rating</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter a rating from 1 to 5">
            </div>
            <button type="button" class="btn btn-success"id="btn-add-review">Add Review</button>
          </section>
          <pre class="p-3" id='sec-review-create'></pre>
        </div>
        <div id='review-show-single'>
          <h3 class="display-5">Show Reviews for a User</h3>
          <p class="lead">In order show all reviews for a Users, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/{userId}/reviews</i>, where the {useraId} is replaced with the user._id of the user you wish to get the reviews for.</p>
          <p class="lead">You can input a user._id in the below example to see the JSON response:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/users/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
          <button type="button" class="btn btn-success"id="btn-get-review">Show Reviews</button>  
          <pre class="p-3" id="sec-review-show"></pre>
        </div>
        <div id='review-delete'>
          <h3 class="display-5">Delete a Review</h3>
          <p class="lead">In order to delete a particular review for a user, a <b>DELETE</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/users/reviews/{reviewId}?currentUserId={userId}</i>, where the {reviewId} is replaced with the review._id of the review you wish to delete
            and the {userId} is the user._id of the reviewer.</p>
          <p class="lead">You can input a review._id and the corresponding user._id in the below example to see the JSON response, which will be the JSON body of the deleted review:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{reviewId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the ID of Review You Wish to Delete">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{userId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the ID of User Who Made The Review">
          </div>
          <button type="button" class="btn btn-danger"id="btn-delete-one-review">Delete Review</button>  
          <pre class="p-3" id="sec-review-delete"></pre>
        </div>
      </div>
    </div>
  </div>
  <!-- Section for Game -->
  <div class="container-fluid padding p-3">
    <div class="col-12">
      <a id="game"></a>
      <h2 class="display-5">Game</h2>
      <div class="container-fluid padding p-3 col-12">
        <p><b>Get - All Games</b> - How to Make an API Request to Get a List of All Games in the API</p>
        <p><b>Get - All Open Games</b> - How To Make an API Request to Get a List of All Open Games That are Awaiting a Goalie to Join</p>
        <p><b>Show</b> - How To Make an API Request to Show Details of a Single Game</p>
        <p><b>Get - Requests</b> - How To Make an API to Get a List of All Requests, Open Requests, Pending Requests, or Confirmed Requests for a User</p>
        <p><b>Get - Goalie</b> - How to Make an API Request to Get A List of All Games Played By a Goalie</p>
        <p><b>Create</b> - How to Make an API Request to Create a Game</p>
        <p><b>Put - Add a Goalie</b> - How to Make an API Request to Add a Goalie to a Game</p>
        <p><b>Put - Confirm a Goalie</b> - How to Make an API Request for the Requestor to Confirm a Goalie</p>
        <p><b>Put</b> - How to Make an API Request to Edit a Game</p>
        <p><b>Delete</b> - How to Make an API Request to Delete a Game</p>
      </div>
      <div class="container-fluid col-12">
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-game-all'>GET - ALL GAMES</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-game-all-open'>GET - ALL OPEN GAMES</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-game-show'>SHOW</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-game-request'>GET - REQUESTS</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-game-goalie'>GET - GOALIES</button>
        <button type="button" class="btn btn-outline-success d-inline-block" id='btn-game-create'>CREATE</button>
        <button type="button" class="btn btn-outline-secondary d-inline-block" id='btn-game-add-goalie'>PUT - ADD GOALIE</button>
        <button type="button" class="btn btn-outline-secondary d-inline-block" id='btn-game-confirm-goalie'>PUT - CONFIRM GOALIE</button>
        <button type="button" class="btn btn-outline-secondary d-inline-block" id='btn-game-edit'>PUT</button>
        <button type="button" class="btn btn-outline-danger d-inline-block" id='btn-game-delete'>DELETE</button>
        <button type="button" class="btn btn-outline-dark d-inline-block" id='btn-game-hide'>HIDE</button>
      </div>
      <div class="container-fluid padding p-3" id='game-display'>
        <div id='game-all'>
          <h3 class="display-5">List of All Games</h3>
          <p class="lead">In order to get a a list of all games, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/games/all</i></p>
          <p class="lead">You can see the JSON body response below for a list of All Games:</p>
          <pre class='p-3'></pre>
        </div>
        <div id='game-all-open'>
          <h3 class="display-5">List of All Open Games</h3>
          <p class="lead">In order to see a complete list of games that do not have a goalie as of yet or are open, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/open/all</i></p>
          <p class="lead">You can see the JSON body response below for the request:</p>
          <pre class='p-3'></pre>
        </div>    
        <div id='game-show'>
          <h3 class="display-5">Show Details for a Single Game</h3>
          <p class="lead">In order to see JSON details for a single game, <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/{gameId}, 
            where {gameId} is the game._id of the game which you want to see the details for.
          </i></p>
          <p class="lead">You enter the game._id in the form below to see an example of the returned JSON body:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/games/</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="{gameId}">
          </div>
          <button type="button" class="btn btn-success"id="btn-show-game">GET DETAILS</button>
          <pre class='p-3'></pre>
        </div>
        <div id='game-requests'>
          <h3 class="display-5">All Requests Made By a User</h3>
          <p class="lead">To get a complete list of requests made by a user, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/request&currentUserId={userId}&status={gameStatus}</i>
          . There are two query parameters for this request, the currentUserId query parameter specifies the user that you want to get the requests for
          . The status query parameter will fetch the games with status = open, pending, or confirmed. To get a list of all requests, set the status to 'all'.</p>
          <p class="lead">You can fill out the form below to see the response JSON body:</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{userId}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter User Id">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{gameStatus}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter 'all' to see all requests, 'open' to show open requests, 'pending' to show pending requests, or 'confirmed' to show closed requests">
            </div>
            <button type="button" class="btn btn-success"id="btn-request-game">Get Requests</button>
          </section>
          <pre class='p-3'></pre>
        </div>
        <div id='game-goalie'>
          <h3 class="display-5">All Games Played or Requested by a Goalie</h3>
          <p class="lead">To get a complete list of games played or currently in pending by a goalie, a <b>GET</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/goalie&currentUserId={userId}&status={gameStatus}</i>
          . There are two query parameters for this request, the currentUserId query parameter specifies the user that you want to get the requests for
          . The status query parameter will fetch the games with status = pending, or confirmed. To get a list of all requests, set the status to 'all'.</p>
          <p class="lead">You can fill out the form below to see the response JSON body:</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{userId}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter User Id">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{gameStatus}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter 'all' to see all requests, 'pending' to show pending requests, or 'confirmed' to show closed requests">
            </div>
            <button type="button" class="btn btn-success"id="btn-goalie-game">Get Requests</button>
          </section>
          <pre class='p-3'></pre>
        </div>
        <div id='game-create'>
          <h3 class="display-5">Add a Game</h3>
          <p class="lead">To create a goalie request for a game, a <b>POST</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games?currentUserId={userId}</i>, where the req.query.currentUserId will make up the 
            req.user and will be the id of the requestor of the game. {userId} is the userId of the requestor. The status key in the game object will be automatically set to 'open'.</p>
          <p class="lead">Use the form below to make a POST request for a new game request, the fields in the below form will make up the req.body.</p>
          <p class="lead">After submitting the form below, you will get the following JSON response below.</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">https://goalie-rental-app.herokuapp.com/api/games?currentUserId=</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="{userId} - Enter the User Id of the Requestor">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Sport</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter hockey, lacrosse, or soccer">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Skill Level</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter A, B, C, D, or Beginner for game skill level">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">City</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Toronto, Brampton, and Mississauga">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Arena</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the Arena's Name">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Request Time</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Request Date</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="YYYY-MM-DD">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Team Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Please give a brief description of the game, ex. 5v5">
            </div>
            <button type="button" class="btn btn-success"id="btn-add-game">Create Game Request</button>
          </section>
          <pre class="p-3"></pre>
        </div>
        <div id='game-add-goalie'>
          <h3 class="display-5">Add a Goalie to an Open Game</h3>
          <p class="lead">In order for a goalie to request to join an open game or to add a goalie to an open game in this API, a <b>PUT</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/{gameId}/add_goalie?currentUserId={userId}</i>, where the {gameId} is replaced with the game._id of the game/request you wish to add a goalie to.</p>
          <p class="lead">The {userId} is the user Id of the goalie wishing to join or being added to the game. Once a goalie is added, the status of the game will change from 'open' to 'pending'.</p>
          <p class="lead">You can input a game._id and user._id in the below example to see the JSON response:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{gameId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the Id of an Open Game you Wish to Add a Goalie To">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{userId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the User Id of the Goalie">
          </div>
          <button type="button" class="btn btn-success"id="btn-add-goalie-game">Add Goalie</button>  
          <pre class="p-3"></pre>
        </div>
        <div id='game-confirm'>
          <h3 class="display-5">Confirm a Goalie for a Game</h3>
          <p class="lead">Once a goalie has requested to join a game, the requestor of the game can confirm the goalie for the game by making a <b>PUT</b> request to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/{gameId}/confirm?currentUserId={userId}</i>, where the {gameId} is replaced with the game._id of the game/request you wish to confirm.</p>
          <p class="lead">The {userId} is the user Id of the requestor who initiall created the request. Once a game has been confirmed, the status of the game will change from 'pending' to 'confirmed'.</p>
          <p class="lead">You can input a game._id and user._id in the below example to see the JSON response:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{gameId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the Id of an Open Game you Wish to Confirm">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{userId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the User Id of the Original Requestor">
          </div>
          <button type="button" class="btn btn-success"id="btn-confirm-game">Confirm Game</button>  
          <pre class="p-3"></pre>
        </div>
        <div id='game-edit'>
          <h3 class="display-5">Edit a Game Request</h3>
          <p class="lead">In order to edit a game request for a goalie, a <b>PUT</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/{gameId}?currentUserId={userId}</i>, where the {gameId} is replaced with the game._id of the game you wish to edit
            and the {userId} is the user._id of the requestor who originally made the request.</p>
          <p class="lead">You can input a game._id in the below URI as an example and edit the game data:</p>
          <section>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{gameId}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder='Enter the Game Id You Wish to Edit'>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{userId}</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder='Enter the User Id of the Original Requestor'>
            </div>
            <section>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Sport</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter hockey, lacrosse, or soccer">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Skill Level</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter A, B, C, D, or Beginner for game skill level">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">City</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Toronto, Brampton, and Mississauga">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Arena</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the Arena's Name">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Request Time</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Request Date</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="YYYY-MM-DD">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Team Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Please give a brief description of the game, ex. 5v5">
              </div>
            <button type="button" class="btn btn-success"id="btn-edit-game">Edit Game Request</button>
          </section>
          <pre class="p-3"></pre> 
        </div>
        <div id='game-delete'>
          <h3 class="display-5">Delete a Game Request</h3>
          <p class="lead">In order to delete a game request from your API, a <b>DELETE</b> request is required to the following URI:</p>
          <p class="lead"><i>https://goalie-rental-app.herokuapp.com/api/games/{gameId}?currentUserId={userId}</i>, where the {gameId} is replaced with the game._id of the game you wish to delete
            and the userId is user._id of the original requestor of the game.</p>
          <p class="lead">You can input a game._id in the below example to see the JSON response, which will be the JSON body of the deleted game:</p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{gameId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the Game Id of the Game You Wish to Delete">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{userId}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter the User Id of the Original Requestor of the Game">
          </div>
          <button type="button" class="btn btn-danger"id="btn-delete-game">Delete Game Request</button>  
          <pre class="p-3"></pre>
        </div>
      </div> 
    </div>
  </div>
</body>
</html>
